$color-primary: #FF3D4F;
$color-status: #FBF1E8;
$color-specialBg: #FDF5EE;
$color-border: #ECECF0 ;
$color-inputBorder: #DCDCDC;
// $color-split: #F0F0F0;
$color-link: #4A90E2;

$color-textHeavy: #333;
$color-textMiddle: #3f3f3f;
$color-text: #666;
$color-textLight: #999;

$fontsz-lg:24px;
$fontsz-md:16px;
$fontsz: 13px;
